.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
.pic img {
  margin-left: 350px;
}
.link a {
  padding: 10px;
  color: black;
}
.ancher a {
  color: black;
}
.footer {
  background-color: rgb(0, 0, 0);
}
.footer a {
  color: blanchedalmond;
  padding-right: 20px;
}
.hr {
  width: 100%;
  color: rgb(255, 250, 250);
}
.fa-facebook {
  background: #3b5998;

  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa {
  padding: 10px;
  font-size: 10px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 3px 1px;
  border-radius: 50%;
}
hr.color1 {
  border-top: 1px solid rgb(255, 252, 252);
}
